.grid {
  display: grid;
  grid-gap: 20px;
  padding: 70px 0;

  @media (--break-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "item1 item1 item1 item1"
      "item2 item2 item3 item4"
      "item5 item6 item7 item7";

    & div:nth-child(1) {
      grid-area: item1; 
    }
  
    & div:nth-child(2) {
      grid-area: item2; 
    }
  
    & div:nth-child(3) {
      grid-area: item3;

      & div[class^='content'] {
        & p {
          opacity: 0;
          transform: translateY(40px);
          transition: inherit;
        }
      
        & h3,
        & h2 {
          transform: translateY(77px);
          transition: inherit;
        }
      }
    }
  
    & div:nth-child(4) {
      grid-area: item4;

      & div[class^='content'] {
        & p {
          opacity: 0;
          transform: translateY(40px);
          transition: inherit;
        }
      
        & h3,
        & h2 {
          transform: translateY(77px);
          transition: inherit;
        }
      }
    }
  
    & div:nth-child(5) {
      grid-area: item5;

      & div[class^='content'] {
        & p {
          opacity: 0;
          transform: translateY(40px);
          transition: inherit;
        }
      
        & h3,
        & h2 {
          transform: translateY(77px);
          transition: inherit;
        }
      }
    }
  
    & div:nth-child(6) {
      grid-area: item6;

      & div[class^='content'] {
        & p {
          opacity: 0;
          transform: translateY(40px);
          transition: inherit;
        }
      
        & h3,
        & h2 {
          transform: translateY(77px);
          transition: inherit;
        }
      }
    }
  
    & div:nth-child(7) {
      grid-area: item7; 
    }
  }
}
